.container {
  padding: 5px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    margin: 10px;
    width: 45%;
  }
}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
  .container {
    .card {
      width: 60%;
    }
  }
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  .container {
    .card {
      width: 90%;
    }
  }
}
