.linksContainer {
  padding: 30px 70px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.singleLink {
  background-color: #aecac7;
  transition: background-color 0.5s ease-out;
  margin: 5px 20px;
  padding: 10px;
  min-width: 30%;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  svg {
    padding: 0 10px;
    border-left: 1px solid gray;
    margin-left: 10px;
  }

  &:hover {
    background-color: #0984e3;

    cursor: pointer;
  }
}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
  .linksContainer {
    padding: 0 10px;
    justify-content: space-around;
    .singleLink {
      margin: 5px auto;
    }
  }
  .singleLink {
    padding: 5px;
  }
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  .linksContainer {
    .singleLink {
      min-width: 90%;
    }
  }
}
