.cardsContainer {
  padding: 30px 70px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .departmentCard {
    min-width: 250px;
    min-width: 20%;
    height: 300px;
    margin: 10px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;

    .cardTitle {
      color: white;
      font-weight: 800;
      background-color: #308f89;
      padding-bottom: 40px;
    }

    .imageContainer {
      border: 3px solid white;
      width: 70px;
      height: 70px;
      border-radius: 50px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: wheat;
      position: relative;
      top: -35px;
    }

    .linksContainer {
      display: flex;
      flex-direction: column;
      position: relative;
      top: -35px;
      overflow-y: auto;
      max-height: 120px;

      .singleLink {
        text-decoration: none;
        color: black;
        margin-bottom: 5px;
        font-weight: normal;
        &:hover {
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
        }
      }
    }
  }

  .departmentCard:hover {
    top: -10px;
  }
}

@media screen and (max-width: 992px) {
  .cardsContainer {
    padding: 10px;
    .departmentCard {
      height: initial;
      min-width: 30%;
    }
  }
}
@media screen and (max-width: 600px) {
  .cardsContainer {
    padding: 0;

    .departmentCard {
      height: initial;
      min-width: 45%;
    }
  }
}
