.cardsContainer {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .linksContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -35px;
    overflow-y: auto;
    max-height: 120px;
  }
}

.cardTitle {
  color: white;
  font-weight: 800;
  background-color: #308f89;
}

.imageContainer {
  border: 3px solid white;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  position: relative;
  top: -35px;
}
.departmentCard {
  min-width: 250px;
  height: 300px;
  margin: 10px;
}

.singleLink {
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
  font-weight: normal;
  &:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}
