.cardsContainer {
  margin: 30px auto 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .linksContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.cardTitle {
  color: #1976d2;
}

.singleLink {
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
  &:hover {
    font-weight: bold;
  }
}
