.MuiTableRow-head th span:hover {
  color: white;
}
.MuiTableSortLabel-root.MuiTableSortLabel-active {
  color: white !important;
}
.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active
  .MuiTableSortLabel-icon {
  color: white !important;
}

.paginationDiv {
  display: flex;
  justify-content: center;
}

.MuiTypography-noWrap,
.css-2uchni {
  color: white;
  letter-spacing: 0.3rem !important;
  font-weight: 700 !important;
  font-family: "Rubik" !important;
}
