#navbarContainer {
  top: 0;
  position: sticky;
  background-color: #1976d2;
  z-index: 102;
  max-width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#desktopMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  padding: 5px 0;
}
.mobileMenuContainer {
  display: none;
}

#mobileTitleWrapper {
  display: none;
  text-decoration: none;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  padding: 5px;
  align-items: center;
}

.navLink {
  font-size: 16px;
  color: rgb(230, 245, 241, 0.6);
  text-decoration: none;
  padding: 10px;
  font-family: "Rubik", sans-serif;
}
.activeNavLink {
  font-size: 16px;
  color: #e6f4f1;
  text-decoration: none;
  border-bottom: 3px solid #e6f4f1;
  padding: 10px;
  font-family: "Rubik", sans-serif;
}

//mobile menu
#hamburger {
  color: white !important;
  padding: 10px;
}

.liWrapper {
  width: 100%;
}

.mobileMenuLink {
  color: #308f89;
  text-decoration: none;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  padding: 5px;
  div {
    ul {
      display: flex;
      flex-direction: column;
    }
  }
}

.dateAuthWrapper {
  display: flex;
  flex-grow: 0;
  align-items: center;
  justify-content: left;
}
.mobileLogos {
  display: none;
}

.authLi {
  display: none;
}

@media only screen and (max-width: 600px) {
  .dateAuthWrapper {
    display: none;
  }
  .mobileLogos {
    display: flex;
    width: 33%;
    justify-content: left;
    img {
      margin: 5px 0 5px 10px;
    }
  }

  .authLi {
    display: block;
  }
}

#dateAndTime {
  color: white;
  padding: 0 10px;

  .time {
    font-size: 2rem;
    color: #e6f4f1;
  }
}
@media only screen and (max-width: 992px) {
  #dateAndTime {
    display: none;
  }
}

.updateIcon {
  padding: 0;
  a {
    padding: 10px;
    display: -webkit-inline-flex;
    color: white;
  }
}

.logoutIcon svg {
  padding: 10px;
  color: white;
}

.loginIcon svg {
  padding: 10px;
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-right: 5px;
}

.tabletOnly {
  display: none;
}

@media screen and (max-width: 900px) {
  .desktopOnly {
    display: none;
  }
  .tabletOnly {
    display: block;
  }

  #mobileTitleWrapper {
    display: flex;
  }

  .mobileMenuContainer {
    display: flex;
    width: 33%;
  }

  .dateAuthWrapper {
    width: 33%;
  }

  #desktopMenu {
    display: none;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .tabletOnly {
    display: none;
  }
}
