.container {
  margin: 0 auto;
  background-color: rgb(48, 143, 137, 0.3);
  padding: 30px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .mainLinkCard {
    margin: 10px;
    min-width: 30%;
  }

  h1 {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0;
    .mainLinkCard {
      width: 45%;
    }
  }
}
@media screen and (max-width: 600px) {
  .container {
    .mainLinkCard {
      width: 100%;
    }
  }
}
