.container {
  margin: 0 auto;
  background-color: rgb(48, 143, 137, 0.3);
  padding: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .mainLinkCard {
    margin: 10px;
    min-width: 300px;
  }

  h1 {
    width: 100%;
  }

  .cardMedia {
    width: 300px;
    height: 10px;
    background-image: linear-gradient(to left, #1976d2, #308f89);
  }
}

.colorfulDiv {
  margin: 10px auto;

  width: 10em;
  height: 10em;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #1976d2, #308f89);
  transition: all 0.5s;
  &:hover {
    background-color: white;
  }
}
