body {
  text-align: center;
  background-color: #e6f4f1;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  direction: rtl;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
