body {
  text-align: center;
  /* background-image: url('./components/Assets/blue-bg.jpg'); */
  /* background-image: url('./components/Assets/bg1.jpg'); */
  background-color: #e6f4f1;

  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  direction: rtl;
  box-sizing: border-box;
}
